
@{
    ViewBag.Title = "Index";
}
<div>
    <div class="panel panel-default nn-contenttitle text-center">
        <div class="panel-heading">
            <strong>Khách Hàng</strong>
        </div>
    </div>
    <table class="table table-hover table-responsive">
        <thead>
            <tr class="alert-success">
                <td class="text-center">Tên Đoàn</td>
                <td class="text-center">Số Điện Thoại</td>
                <td class="text-center">Giới tính</td>
                <td class="text-center">Đại Chỉ</td>
                <td class="text-center">Số Passport</td>
                <td class="text-center">Tình Trạng</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@item.TenKhachHang</td>
                    <td class="text-center">@item.SDT</td>
                    <td class="text-center">@item.GioiTinh</td>
                    <td class="text-center">@item.DiaChi</td>
                    <td class="text-center">@item.PassportNumber</td>
                    <td class="text-center">@(item.TinhTrang ? "Chưa Có Đoàn" : "Đã Có Đoàn")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
