
@{
    ViewBag.Title = "Index";
}
<div>
    <div class="panel panel-default nn-contenttitle text-center">
        <div class="panel-heading">
            <strong>Khách Hàng</strong>
        </div>
    </div>

    <div class="pull-right" style="margin-right:0px;">
        <div>
            <a href="/Customer/Insert" class="btn btn-warning">Thêm Khách Hàng</a>
        </div>
    </div>
    <br />
    <br />
    <table class="table table-hover table-responsive">
        <thead>
            <tr class="alert-success">
                <td class="text-center">Tên Đoàn</td>
                <td class="text-center">Số Điện Thoại</td>
                <td class="text-center">Giới tính</td>
                <td class="text-center">Địa Chỉ</td>
                <td class="text-center">Số CMND</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@item.TenKhachHang</td>
                    <td class="text-center">@item.SDT</td>
                    <td class="text-center">@item.GioiTinh</td>
                    <td class="text-center">@item.DiaChi</td>
                    <td class="text-center">@item.PassportNumber</td>
                </tr>
            }
        </tbody>
    </table>
</div>
